<footer class="footer footer-c bg-black  py-3 border-top border-warning">
    <div class="row text-content">

        <div class="col-md padding-b  btn-group-vertical align-items-center">
            <img class="logo-footer" src="assets/icons/brand2.png">
        </div>

        <div class="col-md-3">
            <h3 class="text-light">Redes</h3>

            <div>
                <button (click)="redirect(0)" class="btn btn-outline-warning buttona">
                    <i class="fa fa-facebook fa-2x"></i> Facebook
                </button>
            </div>

            <div>
                <button (click)="redirect(1)" style="width: 150px !important" class="btn btn-outline-warning buttona">
                    <i class="fa fa-instagram fa-2x"></i> Instagram
                </button>
            </div>

            <div>
                <button (click)="redirect(2)" class="btn btn-outline-warning buttona ">
                    <i class="fa fa-twitter fa-2x"></i> Twitter
                </button>
            </div>
        </div>
        <div class="col-md">
            <h3 class="text-light">Contacto</h3>

            <div>
                <button (click)="redirect(3)" style="width: auto !important" class="btn btn-outline-warning buttona">
                    <i   class="fa fa-envelope fa-2x"></i>
                     aerophonoficial@gmail.com
                </button>
            </div>

            <div>
                <button (click)="redirect(4)" style="width: auto !important" class="btn btn-outline-warning buttona ">
                    <i class="fa fa-phone fa-2x "></i> 322 8565244
                </button>
            </div>
        </div>
    </div>
    <div class="text-center text-light">©AEROPHON CREW 2020 DISEÑADOR <a href="https://www.linkedin.com/in/johan-sebastian-vargas-70b432138/" class="text-linkn">JOHAN</a></div>
</footer>