@media (min-width: 580px) {
    .brand-spacing {
        padding-left: 3rem;
        margin-right: 0 !important;
        padding-right: 0 !important;
    }
}

.b-padding {
    padding: auto !important;
    margin: 0 !important;
    right: 0 !important;
}

@media (max-width: 575px) {
    .brand-spacing>img {
        width: 250px !important;
    }
}

.brand-spacing {
    margin: 0;
}

.menu-item>li {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}

.menu-f-item {
    padding-left: 0 !important;
    padding-right: 2rem !important;
}

.dropdown-item:active {
    background-color: black !important;
}


/* .nv-border {
    border-style: initial;
    border-bottom: white !important;
    border-width: 10px !important;
    border: 10px !important;
} */